@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  font: inherit;
}
#root {
  height: 100%;
}

:root {
  --app-pink: #f8f8f8;
}

.pink {
  background-color: var(--app-pink);
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

.monster {
  font-family: 'Montserrat', sans-serif;
}

.neumorph {
  box-shadow: inset 1px 1px 1px #fff, -9px -9px 9px #e6e6e6,
    9px 9px 20px rgba(199, 199, 199, 0.8);
}
